@page "/admin/"
@model Sky.Areas.Identity.Pages.Admin.AdminModel
@{
    Layout = "~/Areas/Identity/Pages/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}

<p class="text-center h3">Đây là trang quản lý của Admin</p>